{% for interface in vars['interfaces'] %}
- parents:
  - interface {{ vars['interfaces'][interface]['name'] }}
  lines:
{% if 'description' in vars['interfaces'][interface] %}
  - " description {{ vars['interfaces'][interface]['description'] }}"
{% if 'subdescription' in vars['interfaces'][interface] %}
  - "  subdescription {{ vars['interfaces'][interface]['subdescription'] }}"
{% endif %}
{% endif %}
{% if 'vrf' in vars['interfaces'][interface] %}
  - " vrf forwarding {{ vars['interfaces'][interface]['vrf'] }}"
{% endif %}
{% if 'encapsulation' in vars['interfaces'][interface] %}
  - " encapsulation {{ vars['interfaces'][interface]['encapsulation']['protocol'] }} {{ vars['interfaces'][interface]['encapsulation']['tag'] }}"
{% endif %}
{% if 'switchport' in vars['interfaces'][interface] %}
{% if 'access' in vars['interfaces'][interface]['switchport'] %}
{% if 'vlan' in vars['interfaces'][interface]['switchport']['access'] %}
  - " switchport access vlan {{ vars['interfaces'][interface]['switchport']['access']['vlan'] }}"
{% endif %} #vlan
{% endif %} #access
{% if 'trunk' in vars['interfaces'][interface]['switchport'] %}
{% if 'encapsulation' in vars['interfaces'][interface]['switchport']['trunk'] %}
  - " switchport trunk encapsulation {{ vars['interfaces'][interface]['switchport']['trunk']['encapsulation'] }}"
{% endif %} #encapsulation
{% if 'native_vlan' in vars['interfaces'][interface]['switchport']['trunk'] %}
  - " switchport trunk native vlan {{ vars['interfaces'][interface]['switchport']['trunk']['native_vlan'] }}"
{% endif %} #native-vlan
{% if 'allowed_vlans' in vars['interfaces'][interface]['switchport']['trunk'] %}
{% if 'vlans' in vars['interfaces'][interface]['switchport']['trunk']['allowed_vlans'] %}
  - " switchport trunk allowed vlan {{ vars['interfaces'][interface]['switchport']['trunk']['allowed_vlans']['vlans'] }}"
{% endif %} #vlans
{% if 'add' in vars['interfaces'][interface]['switchport']['trunk']['allowed_vlans'] %}
  - " switchport trunk allowed vlan add {{ vars['interfaces'][interface]['switchport']['trunk']['allowed_vlans']['add'] }}"
{% endif %} #add
{% endif %} #allowed-vlans
{% endif %} #trunk
{% if 'mode' in vars['interfaces'][interface]['switchport'] %}
  - " switchport mode {{ vars['interfaces'][interface]['switchport']['mode']|join(' ') }}"
{% endif %} #mode
{% if 'voice' in vars['interfaces'][interface]['switchport'] %}
{% if 'vlan' in vars['interfaces'][interface]['switchport']['voice'] %}
  - " switchport voice vlan {{ vars['interfaces'][interface]['switchport']['voice']['vlan'] }}"
{% endif %} #vlan
{% endif %} #voice
{% if 'negate' in vars['interfaces'][interface]['switchport'] and vars['interfaces'][interface]['switchport']['negate'] %}
  - " no switchport"
{% endif %} #negate
{% if 'port_security' in vars['interfaces'][interface]['switchport'] %}
{% if 'maximum' in vars['interfaces'][interface]['switchport']['port_security'] %}
  - " switchport port-security maximum {{ vars['interfaces'][interface]['switchport']['port_security']['maximum'] }}"
{% endif %} #maximum
  - " switchport port-security"
{% if 'aging_time' in vars['interfaces'][interface]['switchport']['port_security'] %}
  - " switchport port-security aging time {{ vars['interfaces'][interface]['switchport']['port_security']['aging_time'] }}"
{% endif %} #aging_time
{% if 'violation' in vars['interfaces'][interface]['switchport']['port_security'] %}
  - " switchport port-security violation {{ vars['interfaces'][interface]['switchport']['port_security']['violation'] }}"
{% endif %} #violation
{% if 'aging' in vars['interfaces'][interface]['switchport']['port_security'] %}
  - " switchport port-security aging {{ vars['interfaces'][interface]['switchport']['port_security']['aging'] }}"
{% endif %} #violation
{% endif %} #port_security
{% endif %} #switchport
{% if 'channel_group' in vars['interfaces'][interface] %}
  - " channel-group {{ vars['interfaces'][interface]['channel_group'] }} mode {{ vars['interfaces'][interface]['channel_group_mode']|join(' ') }}"
{% endif %} #channel_group
{% if 'bandwidth' in vars['interfaces'][interface] %}
  - " bandwidth {{ vars['interfaces'][interface]['bandwidth'] }}"
{% endif %} #bandwidth
{% if 'ip' in vars['interfaces'][interface] %}
{% if 'address' in vars['interfaces'][interface]['ip'] %}
{% if 'ipv4_address' in vars['interfaces'][interface]['ip']['address'] and 'ipv4_netmask' in vars['interfaces'][interface]['ip']['address'] %}
  - " ip address {{ vars['interfaces'][interface]['ip']['address']['ipv4_address'] }} {{ vars['interfaces'][interface]['ip']['address']['ipv4_netmask'] }}"
{% endif %} #ipv4_address
{% if 'negate' in vars['interfaces'][interface]['ip']['address'] and vars['interfaces'][interface]['ip']['address']['negate'] %}
  - " no ip address"
{% endif %} #negate
{% endif %} #address
{% if 'flow' in vars['interfaces'][interface]['ip'] %}
{% for direction in vars['interfaces'][interface]['ip']['flow']['directions'] %}
  - " ip flow {{ direction }}"
{% endfor %} # #flow directions
{% endif %} #flow
{% if 'helper_addresses' in vars['interfaces'][interface]['ip'] %}
{% for address in vars['interfaces'][interface]['ip']['helper_addresses'] %}
  - " ip helper-address {{ address['ipv4_helper_address'] }}"
{% endfor %} # helpers
{% endif %} #helper_addresses
{% if 'access_group' in vars['interfaces'][interface]['ip'] %}
{% for acl in vars['interfaces'][interface]['ip']['access_group'] %}
  - " ip access-group {{ acl['acl_id'] }} {{ acl['direction'] }}"
{% endfor %}
{% endif %} #access_group
{% if 'route_cache' in vars['interfaces'][interface]['ip'] %}
{% if 'access_group' in vars['interfaces'][interface]['ip'] %}
{% for access_group in vars['interfaces'][interface]['ip']['access_group'] %}
  - " ip access-group {{ access_group['acl_id'] }} {{ access_group['direction'] }}"
{% endfor %}
{% endif %} #access-group
{% if 'negate' in vars['interfaces'][interface]['ip']['route_cache'] %}
  - " no ip route-cache"
{% else %}
  - " ip route-cache {{ vars['interfaces'][interface]['ip']['route_cache'] }}"
{% endif %} #route-cache-negate
{% endif %} #route-cache
{% if 'no_route_cache' in vars['interfaces'][interface]['ip'] %}
  - " no ip route-cache"
{% endif %} #no-route-cache
{% if 'policy_route_map' in vars['interfaces'][interface]['ip'] %}
  - " ip policy route-map {{ vars['interfaces'][interface]['ip']['policy_route_map'] }}"
{% endif %} #policy_route_map
{% if 'dhcp_snooping' in vars['interfaces'][interface]['ip'] %}
  - " ip dhcp snooping trust"
{% endif %} #dhcp_snooping_trust
{% endif %} #ip
{% if 'shutdown' in vars['interfaces'][interface] and vars['interfaces'][interface]['shutdown'] %}
  - " shutdown"
{% endif %} #shutdown
{% if 'power' in vars['interfaces'][interface] %}
{% if 'inline' in vars['interfaces'][interface]['power'] %}
{% if 'police' in vars['interfaces'][interface]['power']['inline'] %}
  - " power inline police"
{% endif %} #police
{% endif %} #inline
{% endif %} #power
{% if 'negotiation' in vars['interfaces'][interface] and vars['interfaces'][interface]['negotiation']['negate'] %}
  - " no negotiation {{ vars['interfaces'][interface]['negotiation']['type'] }}"
{% endif %} #no negotiation
{% if 'negotiation' in vars['interfaces'][interface] and not vars['interfaces'][interface]['negotiation']['negate'] %}
  - " negotiation {{ vars['interfaces'][interface]['negotiation']['type'] }}"
{% endif %} # negotiation
{% if 'ip' in vars['interfaces'][interface] and 'pim' in vars['interfaces'][interface]['ip'] %}
  - " ip pim {{ vars['interfaces'][interface]['ip']['pim']['mode'] }}"
{% endif %} #pim mode
{% if 'service_policies' in vars['interfaces'][interface] %}
{% for service_policy in vars['interfaces'][interface] %}
  - " service-policy {{ service_policy['direction'] }} {{ service_policy['name'] }}"
{% endfor %} # helpers
{% endif %} #helper_addresses
{% if 'cdp_disable' in vars['interfaces'][interface] %}
  - " no cdp enable"
{% endif %} #cdp_disable
{% if 'spanning_tree' in vars['interfaces'][interface] %}
{% if 'portfast' in vars['interfaces'][interface]['spanning_tree'] %}
  - " spanning-tree portfast"
{% endif %} #spanning_tree_portfast
{% if 'guard_root' in vars['interfaces'][interface]['spanning_tree'] %}
  - " spanning-tree guard root"
{% endif %} #spanning_tree_guard_root
{% endif %} #spanning_tree
{% endfor %}
